*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding:0;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../uploads/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center 50%;
}
.dealer{
    height: 150px;
    margin: 0 auto;
    margin-top:18%;
    width:100%;
}
.player{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    margin-top: 50%;
}

ul.player-cards, ul.dealer-cards {
    text-align: center;
    margin: 0 auto;
    display: block;
    list-style: none;
}
ul.player-cards>li, ul.dealer-cards>li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  background-color: rgba(255,255,255,.7);
  margin-right: 5px;
  height: 145px;
  border-radius: 5px;
}
li.player-card {
    list-style-type: none;
}
ul.player-cards>li>p, ul.dealer-cards>li>p {
    line-height: 150px;
    line-height: 145px;
    font-size: 20px;
    font-weight: bold;
}
.dealer> p, .player> p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.stats {
    margin-top: 22%;
    height: 145px;
    background-color: rgba(255,255,255,.7);
    border-radius: 6px;
    text-align: center;
}
.buttons{
    width: 100%;
    margin-top: 100%;
    background-color: rgba(255,255,255,.7);
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
}
.col-md-4.buttons>button {
    width: 100%;
}
button.btn.btn-primary {
    margin: 3px 0px;
}
i.fa.fa-heart {
    color: #b93535;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    font-size: 17px;
    font-weight: bold;
}
.not-found{
  width: 100%;
  height: 100vh;
  background-image: url(../uploads/404.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
